<h1 align="center">All Asf Bloggers</h1>
<div class="row">
  <% @user.each do |user|%>
    <div class="col-md-3">
      <div class="thumbnail">
              <div class="">
                <%= link_to gravatar_for(user), user_path(user) %>
              </div>
        <div class="caption">
          <h3 class="article-title"><%= link_to user.firstname+ ' ' +user.lastname , user_path(user) %></h3>
          <div align="center">
          <small><%= pluralize(user.articles.count, "article") if user.articles %> </small>
          <br>
            <% if logged_in? and current_user.admin? %>
         <small> <%= link_to "Delete this user", user_path(user), method: :delete,
                       data:{confirm: "Are you sure you want to delete the user and all their articles?"}, class:"btn btn-xs btn-danger" %> </small>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div align="center">
  <div class="digg_pagination ">
    <div class="page_info">
      <%= page_entries_info @user %>
    </div>
    <div style="padding-left: 450px;" ><%= will_paginate @user, :container => false %></div>
  </div>
